<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/contact") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-コンタクト") %>
<% provide(:subtitle, "Amiverse-コンタクト") %>
<% provide(:tag, "Amiverse-コンタクト, Amiverse-contact") %>
<% provide(:other, "current") %>
<% provide(:contact, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>コンタクト</h1>
      <h2>お問い合わせフォーム</h2>
      <h3>現在準備中</h3>
      <p>お手数をおかけしますが、下記のメールアドレスまでお問い合わせください。</p>
      <h2>連絡先</h2>
      <h3>管理者のメールアドレス</h3>
      <p>このサイトのこと全般はこちらにお問い合わせください。
      <br/>手動で確認していますが、通常3日以内に何らかの返信をさせていただきます。</p>
      <h4>★を@に変換してお問い合わせください。</h4>
      <h6>riku1228st★outlook.jp</h6>
    </div>
  </div>
</main>