<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/disclaimer") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-免責事項") %>
<% provide(:subtitle, "Amiverse-免責事項") %>
<% provide(:tag, "Amiverse-免責事項, Amiverse-disclaimer") %>
<% provide(:other, "current") %>
<% provide(:disclaimer, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>免責事項</h1>
      <p>詳細は下記に示しますが、当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>

      <h3>リンク先について</h3>
      <p>当サイトは、アフィリエイトプログラムを使って商品を紹介しており、直接の販売は行っておりません。
      商品に関するお問い合わせは、販売店様のほうに直接ご連絡くださいますようお願い致します。<br/><br/>
      当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
      <h3>コンテンツについて</h3>
      <p>当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、
      正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br/><br/>
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。<br/><br/>
      また、本免責事項、および当サイトに掲載しているすべての記事は、予告なしに変更・削除されることがあります。 予めご了承下さい。</p>
      <h3>著作権・肖像権について</h3>
      <p>当サイトで掲載している文章・画像・動画等の著作権・肖像権は各権利所有者に帰属します。万が一問題がある場合は、ご連絡お願いします。</p>

      <h3>制定日・最終改定日</h3>
      <ul>
        <li>制定日:2021年2月21日</li>
        <li>最終改定日:未改定</li>
      </ul>
    </div>
  </div>
</main>