<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/disclaimer") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-免責事項") %>
<% provide(:subtitle, "Amiverse-免責事項") %>
<% provide(:tag, "Amiverse-免責事項, Amiverse-disclaimer") %>
<% provide(:other, "current") %>
<% provide(:disclaimer, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>免責事項</h1>
    </div>
  </div>
</main>