<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/map") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-マップ") %>
<% provide(:subtitle, "Amiverse-マップ") %>
<% provide(:tag, "Amiverse-マップ, Amiverse-map") %>
<% provide(:other, "current") %>
<% provide(:map, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>マップ</h1>
      <h4>現在準備中</h4>
      <h2>Amiverse.net</h2>
      <h3>HOME</h3>
      <h3>BLOG</h3>
      <h3>LandArmy鯖</h3>
      <h3>OTHERS</h3>
    </div>
  </div>
</main>