<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/privacy-policy") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-プライバシーポリシー") %>
<% provide(:subtitle, "Amiverse-プライバシーポリシー") %>
<% provide(:tag, "Amiverse-プライバシーポリシー, Amiverse-privacy-policy") %>
<% provide(:other, "current") %>
<% provide(:privacypolicy, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>プライバシーポリシー</h1>

      <h3>個人情報の利用目的</h3>
      <p>当ブログでは、お問い合わせや記事へのコメントの際、
      名前やメールアドレス等の個人情報を入力いただく場合がございます。<br/><br/>
      取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に
      利用させていただくものであり、これらの目的以外では利用いたしません。</p>
      
      <h3>アクセス解析ツールについて</h3>
      <p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br/><br/>
      このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
      このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
      この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
      <br/><br/>この規約に関して、詳しくは
      <a href="https://policies.google.com/technologies/partner-sites">こちら</a>
      をクリックしてください。</p>
      
      <h3>著作権について</h3>
      <p>当サイトの記事について、著作権は放棄しておりません。当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。

      引用の範囲を超えるものについては、法的処置を行います。<br/>
      転載を希望される方は、<a href="/others/contact">「お問い合わせ」</a>より
      ご連絡をお願いします。<br/><br/>
      また、当サイトは著作権や肖像権の侵害を目的としたものではありません。<br/>
      著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。
      迅速に対応いたします。</p>

      <h3>リンクについて</h3>
      <p>
      当ブログは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。<br/>
      ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。</p>

      <h3>制定日・最終改定日</h3>
      <ul>
        <li>制定日:2021年2月21日</li>
        <li>最終改定日:未改定</li>
      </ul>
    </div>
  </div>
</main>