<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/privacy-policy") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-プライバシーポリシー") %>
<% provide(:subtitle, "Amiverse-プライバシーポリシー") %>
<% provide(:tag, "Amiverse-プライバシーポリシー, Amiverse-privacy-policy") %>
<% provide(:other, "current") %>
<% provide(:privacypolicy, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>プライバシーポリシー</h1>
      <h3>制定日・最終改定日</h3>
      <ul>
        <li>制定日:2021年2月21日</li>
        <li>最終改定日:未改定</li>
      </ul>
    </div>
  </div>
</main>