<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/others/top") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "Amiverse-その他") %>
<% provide(:subtitle, "Amiverse-その他") %>
<% provide(:tag, "Amiverse-その他, Amiverse-top") %>
<% provide(:other, "current") %>
<% provide(:top, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>その他</h1>
      <h2>Amiverse.net</h2>
      <h3>運営情報</h3>
      <h3>マップ</h3>
      <h3>コンタクト</h3>
      <h3>プライバシーポリシー</h3>
      <h3>免責事項</h3>
    </div>
  </div>
</main>