<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/la/calender") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "LA鯖-カレンダー") %>
<% provide(:subtitle, "LA鯖-カレンダー") %>
<% provide(:tag, "LA鯖-カレンダー, LA-calender") %>
<% provide(:la, "current") %>
<% provide(:calender, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>LA鯖-カレンダー</h1>
      <h2>予定表</h2>
      <p>現在編集中</p>
    </div>
  </div>
</main>