<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/la/first") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "LA鯖-初めての方へ") %>
<% provide(:subtitle, "LA鯖とは？") %>
<% provide(:tag, "初めてのLA鯖, LA-first") %>
<% provide(:la, "current") %>
<% provide(:first, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>LA鯖-初めての方へ</h1>
      <h2>ルールの確認</h2>
      <p>現在編集中</p>
    </div>
  </div>
</main>