<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/la/info") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "LA鯖-運営情報") %>
<% provide(:subtitle, "LA鯖-運営情報") %>
<% provide(:tag, "LA鯖-運営情報, LA-info") %>
<% provide(:la, "current") %>
<% provide(:info, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>LA鯖-運営情報</h1>
      <h2>時間帯</h2>
      <p>トップページより随時ご確認ください。</p>
    </div>
  </div>
</main>