<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/la/news") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "LA鯖-ニュース") %>
<% provide(:subtitle, "LA鯖-ニュース") %>
<% provide(:tag, "LA鯖-ニュース, LA-news") %>
<% provide(:la, "current") %>
<% provide(:news, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>LA鯖-ニュース</h1>
      <h2>最新</h2>
      <p>βテスト中</p>
    </div>
  </div>
</main>