<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/la/search") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "LA鯖-検索") %>
<% provide(:subtitle, "LA鯖-検索") %>
<% provide(:tag, "LA鯖-検索, LA-search") %>
<% provide(:la, "current") %>
<% provide(:search, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>LA鯖-検索</h1>
      <h2>LA鯖の検索について</h2>
      <p>検索についてはブログの方で一緒にニュースやお知らせを配信しています。ブログの検索ページからタグ‘‘la_news’’などで検索してください。
      検索結果は<a href="/articles/search?tag=la_news">こちら</a>から。</p>
    </div>
  </div>
</main>