<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/articles/calender") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "ブログ-カレンダー") %>
<% provide(:subtitle, "ブログ投稿についてのカレンダー。") %>
<% provide(:tag, "カレンダー, calender") %>
<% provide(:blog, "current") %>
<% provide(:calender, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>ブログカレンダー</h1>
      <h2>近日公開予定</h2>
      <h3>予定を掲示予定</h3>
      <p>ここから予定を確認できるよう只今制作中です。</p>
    </div>
  </div>
</main>