<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/articles/first") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "ブログ-初めての方へ") %>
<% provide(:subtitle, "初めての方へ。ブログを書いています。") %>
<% provide(:tag, "初めての方へ, first") %>
<% provide(:blog, "current") %>
<% provide(:first, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>初めての方へ</h1>
      <h2>Amiverseブログ</h2>
      <h3>内容</h3>
      <p>マイクラ、映像編集、WEB制作、K-POPなどなど...</p>
    </div>
  </div>
</main>