<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/articles/map") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "ブログ-マップ") %>
<% provide(:subtitle, "ブログ投稿についてのマップ。") %>
<% provide(:tag, "マップ, map") %>
<% provide(:blog, "current") %>
<% provide(:map, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>ブログマップ</h1>
      <h2>近日公開予定</h2>
      <h3>マップを掲示予定</h3>
      <p>ここからブログ記事の種類に基づき仕分けを行い確認できるよう只今制作中です。</p>
    </div>
  </div>
</main>