<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/first/calender") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "カレンダー") %>
<% provide(:subtitle, "Amiverse.netのカレンダーページです。") %>
<% provide(:tag, "calender, カレンダー") %>
<% provide(:home, "current") %>
<% provide(:calender, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>カレンダー</h1>
      <h2>カレンダーは未完成です</h2>
      <p>近いうちに完成する予定です。</p>
    </div>
  </div>
</main>