<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/first") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "初めての方へ") %>
<% provide(:subtitle, "Amiverse.netの初めての方へ向けたページです。") %>
<% provide(:tag, "first, 初めての方へ") %>
<% provide(:home, "current") %>
<% provide(:first, "current") %>
<main>
<div class="maincol">
    <div class="main-content">
    <h1>ようこそAmiverseへ</h1>
    <h2>全般</h2>
    <h3>どういうサイト？</h3>
    <p>このサイトでは商品紹介やゲーム解説、TWICE、BTSなどのK-POPアイドルの最新情報などをブログで発信しています。</p>
    <h3>Amiverse.netとは？</h3>
    <p>BTSのファンの名称である"Army"と任天堂のSNSである"Miiverse"をくっつけた造語です。</p>
    <p>実はMiiverseを再現したSNSを作りたいってのがRailsを始めたきっかけで、Army専用のSNSにしようかと思っていたらWeverseがあってブログでもするか、となって今に至ります。</p>
    <p>でも一応ドメインはとっておいたって感じです。トップレベルは安かったので.netですがね笑。学生にはキツイ。。。</p>
    <h2>ブログ</h2>
    <h3>どんなブログ？</h3>
    <p>筆者の趣味でみんなに有益な情報を発信したいと思っています。例を並べてみると、</p>
    <ul>
        <li>BTS、TWICE、NiziUなどK-POPアイドルの最新情報など</li>
        <li>linuxでサーバー構築のHowTo</li>
        <li>マインクラフトの新要素</li>
        <li>基本AviUtlで映像制作について</li>
        <li>趣味で購入した物の商品紹介</li>
    </ul>
    <p>いろいろありますね。ありすぎてまとまりがないのでタグ機能を有効活用してしっかりまとめるよう気を付けます。</p>
    <h2>LA鯖</h2>
    <h3>LA鯖って何？</h3>
    <p>私が運営しているマインクラフトサーバーです。PCはもちろんのことスマホやゲーム機(要特殊設定)からも入れる万能サーバーです。</p>
    <p>MMOらしいサバイバル、クリエイティブで建築、経済概念でお金儲け、建国して領土拡張、多彩なミニゲーム、などなどといった感じに自由に遊べる鯖です。</p>
    <h4>リンク集 - 参加方法もこちらから！</h4>
    <ul>
        <li><a href="/la">LA鯖 - トップ</a></li>
        <li><a href="/la/first">LA鯖 - 初めての方へ</a></li>
    </ul>
    <h2>ロードマップ</h2>
    <h3>Amiverse(仮名) SNS制作について</h3>
    <p>一番重きをおいてるところです。Railsを学習しつつ制作しているので、今年中には公開できたらなと考えているところです。</p>
    <h2>その他</h2>
    <p>現在βテスト中です。不具合があれば連絡お願いします。<br/>横幅281px以上の最新chromeブラウザでの動作は保障します。</p>
    <p><%= link_to 'TOPへ', root_path %></p><br/>
    </div>
        <div class="sub-content">
        <h1>サブコンテンツ</h1>
        <div class="youtube-scarlia">
            動画見て
            <iframe width="268px" height="auto" src="https://www.youtube.com/embed/TiW7ytbvIC4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            こっちも
            <iframe width="268px" height="auto" src="https://www.youtube.com/embed/s8vTBLwVFuI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="twitter-st">
            フォローして
            <a href="https://twitter.com/sorata_toll?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @sorata_toll</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            連絡など
            <a href="https://twitter.com/intent/tweet?screen_name=sorata_toll&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @sorata_toll</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="twitter-timeline" data-lang="ja" data-height="600" data-theme="dark" href="https://twitter.com/sorata_toll?ref_src=twsrc%5Etfw">Tweets by sorata_toll</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    </div>
</main>