<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/first/map") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "マップ") %>
<% provide(:subtitle, "Amiverse.netのマップページです。") %>
<% provide(:tag, "map, マップ") %>
<% provide(:home, "current") %>
<% provide(:map, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>マップ</h1>
      <h2>ホームの構成</h2>
      <h3>トップ</h3>
      <p>トップページとして色々リンクが置いてあります。<a href="/">こちら</a>から飛べます。</p>
      <h3>初めての方へ</h3>
      <p>初めて来てくださった方の為に当サイトの説明をしております。<a href="/first">こちら</a>から飛べます。</p>
      <h3>最新情報</h3>
      <p>当サイトからのお知らせを配信しています。<a href="/news">こちら</a>から飛べます。</p>
      <h3>カレンダー</h3>
      <p>予定をまとめる為にわかりやすいカレンダー形式で配信する予定です(未完成)。<a href="/calender">こちら</a>から飛べます。</p>
      <h3>マップ</h3>
      <p>ホームの各ページを紹介します。<a href="/map">こちら</a>から飛べます。</p>
      <h3>検索</h3>
      <p>ページを探します。<a href="/search">こちら</a>から飛べます。</p>
    </div>
  </div>
</main>