<% provide(:meta, "") %>
<% provide(:robots, "index,follow") %>
<% provide(:url, "/first/search") %>
<% provide(:type, "website") %>
<% provide(:card, "summary_large_image") %>
<% provide(:twitter_site, "@sorata_toll") %>
<% provide(:twitter_creater, "@sorata_toll") %>
<% provide(:smn, "/assets/la/splatoon.png") %>
<% provide(:title, "検索") %>
<% provide(:subtitle, "Amiverse.netの検索ページです。") %>
<% provide(:tag, "search, 検索") %>
<% provide(:home, "current") %>
<% provide(:search, "current") %>
<main>
  <div class="maincol">
    <div class="main-content">
      <h1>検索</h1>
      <h2>お探しのものはなんですか？</h2>
      <h3>ホームから</h3>
      <p><a href="/map">マップのページ</a>に一覧があります。</p>
      <h3>ブログから</h3>
      <p>
      <a href="/articles/map">マップのページ</a>に一覧があります。<br />
      または<a href="/articles/search">こちら</a>からブログ記事に付いたタグから検索ができます。
      </p>
      <h3>LA鯖から</h3>
      <p><a href="/la/map">マップのページ</a>に一覧があります。</p>
      <h3>その他から</h3>
      <p><a href="/others/map">マップのページ</a>に一覧があります。</p>
    </div>
  </div>
</main>
